<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<h4 class="mt-4 mb-4">Your Profile:</h4>
<ul class="list-group mb-4">
  <li class="list-group-item w-50">Name: <%= user.name %></li>
  <li class="list-group-item w-50">Email: <%= user.email %></li>
</ul>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
